{% extends 'base.html.twig' %}

{% block title %}accueil!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 3em auto;
                       max-width: 800px; 
                       width: 95%; 
                       font: 18px/1.5 sans-serif;
                       text-align: center;
                       font-size: xx-large; }
    .example-wrapper { background-color: #336EFF; 
                       padding: 100px; }                       
</style>

<div class="example-wrapper">
    <h1>GESTION DES STAGIAIRES</h1>
</div>
{% endblock %}
